.preview-card {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 200px;
    border-radius: 10px;
    justify-content: space-between;
    padding: 10px;
}


/* background-color */
.preview-card.preview-card-tomato {
    background-color: var(--tomato);
}

.preview-card.preview-card-blue {
    background-color: var(--blue);
}

.preview-card.preview-card-green {
    background-color: var(--green);
}

.preview-card.preview-card-yellow {
    background-color: var(--yellow);
}
