.preview-card {
    display: flex;
    flex-direction: column;
    width: 95%;
    height: 200px;
    border-radius: 20px;
    justify-content: space-between;
    padding: 10px;
}


/* background */
.preview-card.preview-card-blue-theme {
    background-image: url('../../static/blue-theme.jpg');
}

.preview-card.preview-card-red-theme {
    background-image: url('../../static/red-theme.jpg');
}

.preview-card.preview-card-violet-theme {
    background-image: url('../../static/violet-theme.jpg');
}
