.datepicker {
    position: relative !important;
    background: transparent !important;
}

.datepicker .datepicker-viewport::after {
    background: transparent !important;
}

.datepicker .datepicker-content {
    padding: 0 !important;
}

.datepicker-col-1:nth-child(2) .datepicker-scroll {
    text-align: start !important;
    margin-left: 5px !important;
}
