:root {
    --soft-blue: #b8cbf7;
    --tomato: #df5d33;
    --black: #000;
    --white: #fff;
    --green: #619c5c;
    --yellow: #fbdc0a;
    --blue: #3d3463;
    --transparent: rgba(255, 255, 255, .7);

    --h1: 65px/68px 'Oswald', Serif;
    --h2: 55px/58px 'Oswald', Serif;
    --h3: 45px/48px 'Oswald', Serif;
    --body1: 35px/37px 'Oswald', Serif;
    --body2: 25px/27px 'Oswald', Serif;
    --body3: 15px/17px 'Oswald', Serif;
}
