.select-event-date-wrapper .select-event-date-title {
    padding-top: 45%;
    padding-left: 18px;
}

.select-event-date-wrapper .select-event-date-button {
    display: block;
    margin: auto;
    background-color: var(--black);
    width: 185px;
    height: 48px;
    border-radius: 18px;
}

.select-event-date-wrapper .datepicker {
    margin-top: 10px;
    margin-bottom: 20px;
}

.select-event-date-wrapper .time-picker {
    cursor: pointer;
    display: flex;
    margin: 0 auto 20px auto;
    align-items: center;
    width: fit-content;
}

.select-event-date-wrapper .time-picker .time-picker-text {
    margin-left: 5px;
    margin-right: 10px;
}

.select-event-date-modal {
    width: 200px;
    background: white;
    border-radius: 20px;
    padding: 20px;
}

.select-event-date-modal .button {
    display: block;
    margin: 10px auto;
    background-color: var(--black);
    width: 185px;
    height: 48px;
    border-radius: 18px;
}

/* overriding library styles */
.select-event-date-wrapper .datepicker-col-1:nth-child(2) .datepicker-scroll {
	text-align: start;
	margin-left: 5px;
}

.Panel .select-event-date-wrapper .datepicker,
.Panel .select-event-date-modal .datepicker {
	position: relative;
	background: transparent;
}

.select-event-date-wrapper .datepicker .datepicker-viewport::after,
.select-event-date-modal .datepicker .datepicker-viewport::after {
	background: transparent;
}

.select-event-date-wrapper .datepicker .datepicker-content,
.select-event-date-modal .datepicker .datepicker-viewport::after {
	padding: 0;
}
